extends template
block content
  h1 Authentication in Node.js
  h3 Welcome #{user.email}!
  if user.email === 'Guest'
    form(action='/login', method='GET')
      input.btn.btn-default(type='submit', value='Login')
      button.btn.btn-default(formaction='/register') Register
  else
    form(action='/login?_method=delete', method='POST')
      input.btn.btn-default(type='submit', value='Logout')
