extends template
block content
  - var addy = email || '';
  if message
    h1=message
  form(method='POST')
    .input-group
      label(for='email') Email
      input#email(type='email', name='email', value='#{addy}', autofocus, required)
    .input-group
      label(for='pass') Password
      input#pass(type='password', name='password', required)
    .input-group
      label(for='repass') Repeat Password
      input#repass(type='password', name='repassword', required)
    .input-group
      input(type='submit', value='Register')
