extends template
block content
  - var addy = email || '';
  if message
    h1=message
  form(method='POST')
    .form-group
      label(for='email') Email
      input#email.form-control(type='email', name='email', value='#{addy}', autofocus, required)
    .form-group
      label(for='pass') Password
      input#pass.form-control(type='password', name='password', required)
    .form-group
      label(for='repass') Repeat Password
      input#repass.form-control(type='password', name='repassword', required)
    .form-group
      input.btn.btn-default(type='submit', value='Register')
